{% extends 'base/base.html' %}


{% block navbar %}
{% endblock %}

{% block content %}

{% if validlink %}
<p>Recuperar contraseña</p>

<form method='post'>
    {% csrf_token %}
        <label for="id_new_password">nueva contraseña:</label>{{ form.new_password1}}{{ form.new_password2.errors}}
        <label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2}}
        <input type="submit"  value="Cambiar mi contraseña">
</form>

{% else %}

<h1 class="text-center">Enlace inválido: ya has utilizado este enlace previamente</h1>
{% endif %}
{% endblock %}